body {
    background-image: url(pictures/bush-resized.jpg);
    font-family: verdana, sans-serif;
	font-size: 14px;
}

.wrapper {
    background-color: #f9f9f9;
    width: 80%;
	max-width: 1200px;
    border-radius: 20px;
	opacity: 0.95;
    position: absolute;
    left: 0;
    right: 0;
    margin: 10px auto 20px auto;
	overflow: visible;
}
	
.header {
    width: 950px;
    margin: 5px 25px 0 25px;
}

.navbar {
    width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	font-size: 16px;
}

.navbar ul {
	float: right;
	height: 50px;
	width: 80%;
	position: relative;
	top: 5px;
	border-bottom: #000099 solid 3px;
}

.navbar li {
	min-width: 20%;
	margin-right: 15px;
    height: 30px;
    display: inline-block;
	position: relative;
	left: -20px;
	font-size: 14px;
    list-style-type: none;
	text-align: center;
}

.navbar a {
    color: black;
    padding: 12px 16px 12px 16px;
    text-decoration: none;
    display: block;
	position: relative;
}

.navbar a:hover {
	background-color: #f1f1f1;
}

.logo {
	text-align: center;
	width: 18%;
	float: left;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a {
	width: 252px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	position: relative;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
	z-index: 1;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	position: relative;
}

.footer {
	clear: both;
	width: 80%;
	height: 10px;
	margin-left: 10%;
	margin-top: 60px;
}

/* START SLIDESHOW STYLES */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
	text-align: center;
}

.mySlides img {
	width: 100%;
	border-radius: 15px;
}

/* Fading animation */
.fade {	
	animation-name: fade;
	animation-duration: 15s;
}

@keyframes fade {
	0%,100% {opacity: 0}
	10%,90% {opacity: 1}
}
/* END SLIDESHOW STYLES */

.main-content {
	clear: both;
	width: 80%;
	min-height: 440px;
	position: relative;
	left: 10%;
	top: 20px;
	padding: 20px;
	border: #000099 solid 3px;
	border-radius: 15px;
}

.main-content h1 {
	text-align: center;
}

.location {
	width: 35%;
	position: absolute;
	top: 910px;
	left: 10px;
	background-color: white;
	padding: 5px;
	text-align: justify;
	border-style: ridge
}

iframe {
	margin-left: 10%;
}

.wtd-link {
	margin-bottom: 5px;
	height: 300px;
	width: 47%;
	display: inline-block;
	text-align: center;
	border: ridge 3px;
	padding-top: 15px;
}

.wtd-link img {
	width: 60%;
	max-height: 240px;
}

.wtd-link:hover {
	background-color: #f2f2f2;
}

.wtd-link a {
	color: black;
	text-decoration: none;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: -50;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog h2 {
	text-align: center;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 750px;
	height: 550px;
	position: relative;
	margin: 10% auto;
	padding: 5px;
	border-radius: 10px;
	background: #f9f9f9;
}

.close {
	background: #606061;
	color: #ffffff;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;

.wtd-content {
	height: 600px;
	border-bottom: dotted red 1px;
	clear: both;
	margin-bottom: 100px;
}

.wtd-content img {
	float: right;
	width: 36%;
	margin: 10px;
}

.wtd-content p {
	float: left;
	width: 60%;
	text-align: justify;
}

#sign {
	height: 20%;
	width: 14%;
}

.future-img {
	width: 100%;
}